@import '../../../sass/colors';
@import '../../../sass/fonts';

.navbar {
  background: $white;
  box-shadow: 1px 1px 10px $white-50;
  border-top: 5px solid $blue;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;

  .container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .logout {
    letter-spacing: 1px;
    font-weight: bold;
  }
}
