<nav></nav>
<form class="auth-form" [formGroup]="form" (ngSubmit)="login()">
  <label class="bold prefix" for="email">Email</label>
  <input class="data" id="email" type="text" formControlName="email">
  <label class="bold prefix" for="password">Password</label>
  <input class="data" id="password" type="password" formControlName="password">
  <button type="submit" class="button main-button" [disabled]="!form.valid">Login</button>
</form>
<a class="button sub-button" (click)="goToSignUp()">Sign up</a>
