<nav></nav>
<div class="main">
  <form class="auth-form" [formGroup]="form" (ngSubmit)="login(form.value)">
    <label class="bold prefix" for="email">Email</label>
    <input class="data " id="email" type="text" formControlName="email">
    <label class="bold prefix" for="password">Password</label>
    <input class="data " id="password" type="password" formControlName="password">
    <input type="submit" class="button main-button" value="Login" [disabled]="!form.valid">
  </form>
  <div class="separator"></div>
  <button class="button sub-button" (click)="goToSignUp()">Sign up</button>
</div>
