@import '../../../../../sass/colors';
@import '../../../../../sass/fonts';

* {
  background: $white;
}

.navbar {
  height: 70px;
  width: 100%;
  box-shadow: 1px 1px 10px $white-50;
  border-top: 5px solid $blue;

  .container {
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
  }

  .logout {
    letter-spacing: 1px;
    font-weight: bold;
  }
}
