@import url('https://fonts.googleapis.com/css?family=Roboto');
$text-small: 12px;
$text-medium: 16px;
$text-big: 24px;
$text-huge: 36px;

.bold {
  font-weight: 600;
}

.light {
  color: $gray;
  font-size: $text-big;
}

.text-medium {
  font-size: $text-medium;
}
