<div class="navbar">
  <img class="logo" src="../assets/wolox.svg" alt="WOLOX">
  <p class="subtitle">BOOKS</p>
</div>
<div class="main">
  <form class="reg-form" [formGroup]="form" (ngSubmit)="register(form.value)">
    <label class="bold prefix" for="first_name">First name</label>
    <input class="data" id="first_name" type="text" formControlName="first_name">
    <label class="bold prefix" for="last_name">Last name</label>
    <input class="data" id="last_name" type="text" formControlName="last_name">
    <label class="bold prefix" for="email">Email</label>
    <input class="data" id="email" type="text" formControlName="email">
    <label class="bold prefix" for="password">Password</label>
    <input class="data" id="password" type="password" formControlName="password">
    <input type="submit" class="button register" value="Sign up" [disabled]="!form.valid">
  </form>
  <div class="separator"></div>
  <a href="#" class="button login">Login</a>
</div>
<router-outlet></router-outlet>
