$green: #BED23C;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 100px;
}

.main {
  padding: 0 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 50px 50px 50px;
}

.bold {
  font-weight: 500;
}
