$green: #BED23C;

* {
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 100px;
}

.main {
	width: 70%;
	margin: 0 auto;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	margin: 50px;
	margin-top: 20px;
}
