.tech {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 15px;
	position: relative;
	width: 210px;
	margin: 25px;

	img {
		width: 100px;
		margin: 5px 0;
		max-height: 100px;
	}

	p {
		margin: 5px 0;
	}

	.description {
		margin: 10px 0;
	}
}


.tech:hover:after {
	left: 13px;
	top: 13px;
}

.tech.primary {
	border-right: 2px solid $green;
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	justify-self: end;
	align-self: center;
	height: 100%;
}

@media only screen and (max-width: 1024px) {
    .tech.primary {
			grid-column: 1 / 1;
			grid-row: 1 / 1;
			border-right: none;
			justify-self: center;
    }

		.tech {
			justify-self: center;
			border-bottom: 2px solid $green;
		}

		.tech:last-child {
			border: none;
		}
}
